# COCO val2017 object crops, 80 classes.
#
# This is a classification task built from a detection dataset: each annotated
# box is cropped out and labelled with its category. It is a genuinely hard
# 80-way problem -- crops are low resolution, often occluded, and the class
# distribution is very skewed (person dominates) -- so do not expect the
# accuracy to look like CIFAR's. It is here to exercise the pipeline at
# 80-class scale on real photographs.
[net]
batch=64
subdivisions=1
height=96
width=96
channels=3
max_crop=144
min_crop=96

angle=7
hue=.1
saturation=.75
exposure=.75
aspect=.75

learning_rate=0.01
policy=poly
power=4
max_batches=1000
momentum=0.9
decay=0.0005

[convolutional]
batch_normalize=1
filters=16
size=3
stride=1
pad=1
activation=leaky

[maxpool]
size=2
stride=2

[convolutional]
batch_normalize=1
filters=32
size=3
stride=1
pad=1
activation=leaky

[maxpool]
size=2
stride=2

[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=leaky

[maxpool]
size=2
stride=2

[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=leaky

[maxpool]
size=2
stride=2

[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=leaky

# Same fully-connected head as mnist.cfg, for the same reason: with a
# trunk this narrow, average-pooling away the spatial layout costs more
# accuracy than the head costs time.
[connected]
output=256
activation=leaky

[dropout]
probability=.5

[connected]
output=80
activation=linear

[softmax]
groups=1
